@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.country-facts-section {
  background-color: #fafafa;

  &__quick-facts-section {
    display: flex;
    flex-direction: column;

    @include desktop {
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    font-weight: 600;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: $travelbook-blue;
    text-shadow: 1px 1px $travelbook-blue-dark;

    @include tablet {
      font-size: 1.7rem;
      margin-top: 2rem;
    }

    @include desktop {
      font-size: 2rem;
      margin-top: 3rem;
    }
  }

  &__cards-description {
    font-size: 1.1rem;
    padding: 1rem;

    @include tablet {
      padding: 2.5rem;
    }

    @include desktop {
      font-size: 1.3rem;
      padding: 3rem;
    }
  }

  &__table {
    @include tablet {
      display: flex;
      padding-top: 1rem;
      justify-content: center;
    }
  }

  &__map {
    cursor: pointer;
    text-decoration: underline;
    color: $travelbook-blue;
    font-weight: 600;
    margin-bottom: 1rem;
    align-self: center;

    @include desktop {
      font-size: 1.3rem;
      margin-bottom: 2rem;
    }
  }

  &__left {
    @include desktop {
      margin-right: 6rem;
    }
  }

  &__polaroid-cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;

    @include tablet {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
    }
  }
}
