@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.trip-section {
  background-color: $travelbook-background;

  &__title {
    font-style: italic;
    padding: 1rem;
    text-align: center;
  }

  &__trip-description {
  }

  &__attraction-heading {
  }
}
