@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.trip-section {
  background-color: $alabaster;

  &__title {
    font-weight: 600;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: $travelbook-blue;
    text-shadow: 1px 1px $travelbook-blue-dark;

    @include tablet {
      font-size: 1.7rem;
    }

    @include desktop {
      font-size: 2rem;
      padding: 3rem;
    }
  }

  &__trip-description {
    padding: 0 1rem;
    text-align: center;
    margin-bottom: 2rem;

    @include tablet {
      padding: 0 2rem;
      font-size: 1.1rem;
    }

    @include desktop {
      font-size: 1.2rem;
      padding: 0 4rem;
      text-align: left;
    }
  }

  &__attraction-heading {
    text-align: center;
    font-size: 1.1rem;
    margin: 1rem;
    text-decoration: underline;
    color: $travelbook-blue;


    @include tablet {
      font-size: 1.3rem;
      margin: 1.5rem;
    }

    @include desktop {
      font-size: 1.6rem;
      padding: 1rem;
    }
  }
}

.attration-section--image-left {
  flex-direction: row-reverse;
}
