@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.add-button {
  width: 3rem;
  margin: 3rem;
  margin-left: auto;

  &__icon {
    width: 3rem;
    display: block;

    &:hover {
      opacity: 0.8;
    }

    @include tablet {
      margin-right: 3rem;
    }

    @include tablet {
      width: 4rem;
      margin-right: 4rem;
    }
  }
}
