@use "./typography" as *;
@use "./variables" as *;
@use "./mixins" as *;

// General styling
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", Verdana, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  color: $travelbook-black;
}

h1,
h2,
h3,
p {
  margin: 0;
}

//Textarea, input styling

textarea,
input {
  font-family: inherit;
  font-weight: 100;
  background-color: $alabaster;
  border: 1px solid $mercury;
  border-radius: 4px;
  padding: 0.4rem;

  &::placeholder {
    color: $travelbook-black;
    font-size: 0.6rem;

    @include tablet {
      font-size: 0.8rem;
    }

    @include desktop{
      font-size: 1.1rem;
    }
  }
}

input:focus {
  outline: none;
  border: 2px solid $travelbook-blue;
}

textarea:focus {
  outline: none;
  border: 2px solid $travelbook-blue;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $travelbook-black;
  cursor: pointer;

  &:hover {
    color: $travelbook-orange;
  }
}
.loading {
  padding: 1rem;
  text-align: center;
}
