//breakpoints

$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

//primary colors

$travelbook-orange: #ff8a65;
$travelbook-blue: #1676ba;
$travelbook-grey: #ddd;
$travelbook-white: #ffffff;
$travelbook-background: #fbf6f3;
$travelbook-black: #323232;

//secondary colors

$travelbook-blue-dark: #003D59;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$error: #f87272;
