@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  &__image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
      url("../../assets//images/learn-countries.jpeg");
    height: 50vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      justify-content: flex-end;
      align-items: center;
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url("../../assets//images/learn-countries.jpeg");
    }
  }

  &__content {
    color: $travelbook-white;
    text-align: center;
    width: 80%;
    font-style: italic;

    @include tablet {
      padding-right: 3rem;
      width: 35%;
    }
  }

  &__question {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;

    @include tablet {
      font-size: 1.7rem;
      margin-bottom: 2rem;
    }
    @include tablet {
      font-size: 1.8rem;
    }
    @include tablet {
      font-size: 1.8rem;
    }
  }
}
