@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.attration-section {
  width: calc(100% - 6rem);
  display: flex;
  background-color: $travelbook-background;
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.12);
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 1rem;
  margin-bottom: 3rem;
  align-items: flex-start;
  border-radius: 3px;

  &__content {
    width: 60%;
    margin-right: 2rem;
    padding: 0 2rem;
  }

  &__heading {
    font-size: 1.3rem;
    text-align: center;
    font-style: italic;
  }

  &__description {
    font-size: 1.1rem;
  }

  &__image {
    width: 40%;
    object-fit: cover;
    border-radius: 3px;
  }
  
  &--image-left {
    flex-direction: row-reverse;
  }
}
