@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.polaroid {
  width: 90%;
  max-width: 18rem;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 6px solid white;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem 1rem;

  @include tablet {
    margin: 2rem 2rem;
  }

  @include tablet {
    margin: 3rem 3rem;
  }

  &__container {
    text-align: center;
    padding: 0.8rem 1.5rem;
  }

  &__image {
    width: 100%;
    border-radius: 2px;
  }

  &__title {
    font-weight: 600;
  }
}
