@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.polaroid-flip-card {
  background-color: transparent;
  width: 100%;
  max-width: 15rem;
  height: auto;
  perspective: 1000px;
  padding: 1rem;

  &__inner {
    width: 100%;
    height: auto;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  &:hover &__inner {
    transform: rotateY(180deg);
    transition: transform 1s;
    position: relative;
  }

  &__front,
  &__back {
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    background-color: #03446a;
  }

  &__front {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 6px solid white;
    border-radius: 2px;
  }

  &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: $travelbook-blue-dark;
    color: white;
    transform: rotateY(180deg);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    padding: 0.8rem 1.5rem;
  }

  &__image {
    width: 100%;
    border-radius: 2px;
    content-visibility: hidden; 
  }

  &__title {
    font-weight: 600;
  }

  &__quote {
    font-style: italic;
    padding: 0.5rem;
  }
}
