@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  padding: 0 1rem;
  font-size: 0.7rem;
  background-color: $travelbook-background;

  @include tablet {
    padding: 0 3rem;
    font-size: 1rem;
  }

  &__main-nav {
    padding-bottom: 1rem;
    @include tablet {
      padding-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 0.3rem;

    @include tablet {
      justify-content: flex-start;
      width: 38%;
    }

    @include desktop {
      width: 25%;
    }
  }

  &__logo {
    width: 6rem;
    transform: rotate(-5deg);

    @include tablet {
      width: 8rem;
    }
  }

  &__logo-text {
    display: none;
    bottom: 1.7rem;
    left: 7.2rem;
    z-index: 1;

    @include tablet {
      position: absolute;
      display: inline;
      color: $travelbook-blue-dark;
      font-style: italic;
    }
  }

  &__main-nav-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__main-nav-item {
    padding: 0 0.4rem;
    border-right: 2px solid $travelbook-blue;

    @include tablet {
      padding: 0 0.7rem;
    }

    &--globe {
      font-size: 1.3rem;
    }

    &--globe:hover {
      animation-name: rotate;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    &--logout {
      color: $travelbook-orange;
      cursor: pointer;
    }

    &--logout:hover {
      color: $travelbook-blue;
    }
  }

  &__main-nav-link {
    font-weight: 700;
    text-transform: uppercase;

    &--active {
      color: $travelbook-orange;
    }
  }
}

li:last-child {
  border-right: 1px solid $travelbook-background;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
