@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form-error {
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  color: $error;
  font-size: 0.9rem;
  padding: 0.5rem 0;

  @include tablet {
    font-size: 0.75rem;
  }
}

.form-error img {
  width: 1.1rem;
  margin-right: 0.3rem;
}
