@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.notes-hero {
  position: relative;

  &__image {
    height: 50vw;
    position: relative;
    width: 100%;
    object-fit: cover;
  }

  &__text {
    border-radius: 8px;
    color: $travelbook-white;
    background-color: black;
    padding: 0.2rem;
    font-size: 1rem;
    font-style: italic;
    position: absolute;
    top: 10%;
    right: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 10rem;

    @include tablet {
      font-size: 1.5rem;
      padding: 0.3rem;
      width: 15rem;
      right: 5rem;
    }

    @include desktop {
      font-size: 1.8rem;
      width: 18rem;
    }
  }

  &__back {
    width: 2rem;
    position: absolute;
    top: 5%;
    left: 1rem;
    cursor: pointer;
    backdrop-filter: contrast(0.5);
    border-radius: 50%;

    @include tablet {
      width: 3rem;
      left: 2rem;
    }

    &:hover {
      background-color: $travelbook-blue;
      transition: background-color 0.2s linear;
    }
  }
}
