@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.map-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $travelbook-background;

  &__title {
    color: $travelbook-blue;
    font-size: 1rem;
    border-style: double;
    border-color: $travelbook-blue-dark;
    padding: 0.5rem;
    text-shadow: 1px 1px $travelbook-blue-dark;

    @include tablet {
      margin-right: 1rem;
      font-size: 2rem;
      border-style: hidden;
      padding: 0;
    }
  }

  &__image {
    display: none;

    @include tablet {
      display: inline-block;
    }
  }

  &__title-image-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }

  &__map-container {
    width: 100vw;
    color: $travelbook-blue-dark;
    margin-top: 1.5rem;
    background-color: $travelbook-white;

    @include tablet {
      width: 90vw;
      border-style: double;
    }

    @include desktop {
      width: 85vw;
    }
  }
  &__geography {
    fill: $travelbook-background;
    stroke: #d6d6da;
    outline: none;

    &:hover {
      fill: $travelbook-orange;
      outline: none;
    }
  }

  &__circle {
    fill: $travelbook-blue;
    stroke: $travelbook-orange;
    cursor: pointer;
  }

  &__text {
    font-weight: 600;
    fill: $travelbook-blue-dark;
    font-size: 0.8rem;
  }
}
