@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.find-country-form {
  background-image: url("../../assets//images/memory2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    height: 40vw;
  }

  &__label {
    font-size: 1.1rem;
    text-shadow: 1px 0 $travelbook-white;
    color: $alabaster;
    display: block;
    text-align: center;
    margin-bottom: 1rem;

    @include tablet {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }

    @include desktop {
      font-size: 1.7rem;
      margin-bottom: 2rem;
    }
  }

  &__input {
    width: 100%;
    margin-right: 0.5rem;
    background-image: url("../../assets/icons/search.svg");
    background-position: 97%;
    background-repeat: no-repeat;
    position: relative;

    @include tablet {
      max-width: 50%;
    }

    &--error {
      border: 2px solid $error;
    }
  }

  &__input-button {
    display: flex;
    justify-content: center;

    @include tablet {
      width: 100%;
    }
  }

  &__form {
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include tablet {
      width: 60%;
    }

    @include desktop {
      width: 45%;
    }
  }
}
