@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.app-message {
  margin: 0 auto;
  text-align: center;
  //background-color: rgba(240, 250, 240, 0.35);
  font-size: 0.7rem;
  margin: 0.6rem;
  padding: 0.5rem;
  border-radius: 8px;
  text-align: center;

  @include tablet {
    font-size: 1rem;
  }

  &--error {
    color: $error;
  }

  &--submitted {
    color: $travelbook-white;
  }

  &--notFound {
    color: $error;
  }
}
