@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.app-message {
  margin: 0 auto;
  text-align: center;
  font-size: 0.7rem;
  margin: 0.6rem;
  padding: 0.5rem;
  border-radius: 8px;
  text-align: center;
  text-shadow: 1px 1px $travelbook-black;

  @include tablet {
    font-size: 1rem;
  }

  @include desktop {
    font-size: 1.2rem;
  }

  &--error {
    color: $error;
  }

  &--errorForm {
    color: $error;
  }

  &--submitted {
    color: $travelbook-white;
  }

  &--created {
    color: green;
  }

  &--deleted {
    color: $travelbook-orange;
  }
}
